<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <style type="text/css">
      @import url("https://themes.googleusercontent.com/fonts/css?kit=5-pv8ON56qGOQiFpnU9lSc7GovBotyIC88tosNWOdfU");
      * {
        word-break: break-all;
        word-wrap: break-word;
        page-break-inside: avoid;
      }

      ol {
        margin: 0;
        padding: 0;
      }
      table td,
      table th {
        padding: 0;
      }
      .c0 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14px;
        font-family: "Arial";
        font-style: normal;
      }
      .c3 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 30px;
        font-family: "Raleway";
        font-style: normal;
      }
      .c7 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 24px;
        font-family: "Poppins";
        font-style: normal;
      }
      .c5 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14px;
        font-family: "Arial";
        font-style: normal;
      }
      .c6 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: center;
      }
      .c1 {
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .c4 {
        background-color: #ffffff;
        max-width: 500pt;
        padding: 20pt 72pt 72pt 72pt;
        page-break-inside: avoid;
      }
      .c2 {
        height: 10pt;
      }
      .title {
        padding-top: 0pt;
        color: #000000;
        font-size: 26pt;
        padding-bottom: 3pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      .subtitle {
        padding-top: 0pt;
        color: #666666;
        font-size: 20px;
        padding-bottom: 12pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      li {
        color: #000000;
        font-size: 14px;
        font-family: "Arial";
      }
      p {
        margin: 0;
        color: #000000;
        font-size: 14px;
        font-family: "Arial";
      }
      h1 {
        padding-top: 20pt;
        color: #000000;
        font-size: 26px;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h2 {
        padding-top: 18pt;
        color: #000000;
        font-size: 21px;
        padding-bottom: 6pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h3 {
        padding-top: 16pt;
        color: #434343;
        font-size: 18px;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h4 {
        padding-top: 14pt;
        color: #666666;
        font-size: 16px;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h5 {
        padding-top: 12pt;
        color: #666666;
        font-size: 14px;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
      h6 {
        padding-top: 12pt;
        color: #666666;
        font-size: 14px;
        padding-bottom: 4pt;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
    </style>
  </head>
  <body class="c4">
    <p class="c6"><span class="c3">Open Prescription</span></p>
    <p class="c6 c2"><span class="c0"></span></p>
    <p class="c6"><span class="c7">Certificate of Authenticity</span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1">
      <span class="c0"
        >Open Prescription certifies the authenticity of the prescription number
        #{{ prescriptionId }}, whose information and details follow below:</span
      >
    </p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c5">Doctor information:</span></p>
    <p class="c1">
      <span class="c0">Name: {{ doctorName }}</span>
    </p>
    <p class="c1">
      <span class="c0">Identification number: {{ doctorDocumentId }}</span>
    </p>
    <p class="c1">
      <span class="c0">Details: {{ doctorDetails }} </span>
    </p>
    <p class="c1">
      <span class="c0">Email: {{ doctorEmail }}</span>
    </p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c5">Patient information:</span></p>
    <p class="c1">
      <span class="c0">Name: {{ patientName }}</span>
    </p>
    <p class="c1">
      <span class="c0">Document ID: {{ patientDocumentId }}</span>
    </p>
    <p class="c1">
      <span class="c0">Email: {{ patientEmail }}</span>
    </p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1"><span class="c5">Prescription information:</span></p>
    <p class="c1">
      <span>Prescription </span
      ><span class="c0">Hash: {{ prescriptionHash }}</span>
    </p>
    <p class="c1">
      <span class="c0">Max number of uses: {{ maxUses }}</span>
    </p>
    <p class="c1">
      <span class="c0">Expiration date: {{ expiration }}</span>
    </p>
    <p class="c1">
      <span class="c0">Private prescription: {{ isPrivate }}</span>
    </p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1">
      <span class="c0">The prescription was digitally signed as follows:</span>
    </p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1">
      <span class="c0">Doctor Blockchain ID: {{ blockchainId }}</span>
    </p>
    <p class="c1">
      <span class="c0">Digital signature: {{ digitalSignature }}</span>
    </p>
    <p class="c1">
      <span class="c0">Signed message: {{ message }}</span>
    </p>
    <p class="c1 c2"><span class="c0"></span></p>
    <p class="c1">
      <span class="c0"
        >The digital signature can be validated online
        <a href="https://originalmy.com">here</a>.</span
      >
    </p>
  </body>
</html>
