<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <style type="text/css">
      @import url("https://themes.googleusercontent.com/fonts/css?kit=REkZdp607wyRWryl-iJgezQohpB63wESkm3OgpHs-Jc63HTsdhlAa82Js8xEFOQ8");

      * {
        word-break: break-all;
        word-wrap: break-word;
      }

      ol {
        margin: 0;
        padding: 0;
      }

      table td,
      table th {
        padding: 0;
      }

      .c0 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 15px;
        font-family: "Roboto";
        font-style: normal;
      }

      .c9 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 40px;
        font-family: "Raleway";
        font-style: normal;
      }

      .c5 {
        color: #000000;
        font-weight: 700;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11px;
        font-family: "Roboto";
        font-style: normal;
      }

      .c7 {
        color: #ff0000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 15px;
        font-family: "Arial";
        font-style: normal;
      }

      .c2 {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
        height: 15px;
      }

      .c1 {
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11px;
        font-family: "Roboto";
        font-style: normal;
      }

      .c3 {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: center;
      }

      .c6 {
        padding-top: 0px;
        padding-bottom: 0px;
        line-height: 1.15;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      .c10 {
        font-size: 11px;
        font-family: "Roboto";
        font-weight: 400;
      }

      .c8 {
        background-color: #ffffff;
        max-width: 451.5px;
        padding: 96px 96px 96px 96px;
      }

      .c4 {
        height: 15px;
      }

      .title {
        padding-top: 0px;
        color: #000000;
        font-size: 35px;
        padding-bottom: 4px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      .subtitle {
        padding-top: 0px;
        color: #666666;
        font-size: 20px;
        padding-bottom: 21px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      li {
        color: #000000;
        font-size: 15px;
        font-family: "Arial";
      }

      p {
        margin: 0;
        color: #000000;
        font-size: 15px;
        font-family: "Arial";
      }

      h1 {
        padding-top: 27px;
        color: #000000;
        font-size: 27px;
        padding-bottom: 8px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      h2 {
        padding-top: 24px;
        color: #000000;
        font-size: 21px;
        padding-bottom: 8px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      h3 {
        padding-top: 21px;
        color: #434343;
        font-size: 19px;
        padding-bottom: 5px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      h4 {
        padding-top: 19px;
        color: #666666;
        font-size: 16px;
        padding-bottom: 5px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      h5 {
        padding-top: 16px;
        color: #666666;
        font-size: 15px;
        padding-bottom: 5px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        orphans: 2;
        widows: 2;
        text-align: left;
      }

      h6 {
        padding-top: 16px;
        color: #666666;
        font-size: 15px;
        padding-bottom: 5px;
        font-family: "Arial";
        line-height: 1.15;
        page-break-after: avoid;
        font-style: italic;
        orphans: 2;
        widows: 2;
        text-align: left;
      }
    </style>
  </head>

  <body class="c8">
    <p class="c3">
      <span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 209px;
          height: 63.69px;
        "
      >
        <svg
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          width="331px"
          height="150px"
          viewBox="0 0 331 150"
          enable-background="new 0 0 331 150"
          xml:space="preserve"
          style="margin: auto; display: block;"
        >
          <image
            id="image0"
            width="331"
            height="150"
            x="0"
            y="0"
            href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAUsAAACWCAMAAABgvlrpAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
            AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAABHVBMVEX///+2t7cBAgK3t7aQ
            kZKRkZD7+/vf39/d3d35+fk6PDw7PDu0tbUsLS0DBAQaGxt/gID9/f3+/v54eHgJCgoGBwdmZmb6
            +vpmZ2jb29vb29xnZ2fY2NgICQmUlZXe3t5ISEgKCwtFRUXa2tqfoKCHiIiQkZEvMDArLCxaWlpB
            QUE0NTXc3NxOTk4BAgHMzMw7PDyZmppPT09iYmJJSUnq6uoVFhays7O7vLwCAwOjpKRgYGA2NzdN
            TU2pqqojJCQ1Njaam5vu7u6en5+IiYltbm7p6enj4+McHR0WFxdwcHDx8fHk5OTo6OggISEREhLX
            19dfX19QUFA6PDvOzs7Pz8/y8vL09PR5eXmJioohIiLIyMiGh4d6enrr6+vYPilFAAAAAWJLR0QA
            iAUdSAAAAAlwSFlzAAAAYAAAAGAA8GtCzwAAAAd0SU1FB+QEChciL842exwAAAURSURBVHja7Zpp
            Y9NGEIYlWaagFAqEUNnmaEkoR8AkQA8g3Gc42nLf/P+fgSXtMTNa2XFsocPv80la7SrWk9FeGs8D
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABADfCDlE7Vv6P5hIGhW/VvaQJ7
            ftqbsS93KQoIS1X/0Kr5ef8BpeKXg4dcFQ4vH9GyVo7+yq/FSWkvOeonR4OqH6Zajh0ngXViVHDy
            t9/16ZFTq6OCNRp6p1ljn77Z4cJ3mn9QU6dGUXiGFpw97HnnaMF51jhioRgv+lt+kJpa97y9AeOC
            510UNSyjsBzScxWYaWnIRyOfjk6pc799g790eYm7vDTOZSh6yDizNXLp89Gor5sPjUs1aLWqh53F
            ZSQCy8/k0foDplLJDYINU9CmyJzRZY+e963LNABj5cp0q4EOXDX6R+3qYWdxKbpLXRAYxXEq0bfR
            Z2R3tfyh1x5KcamLs0CNbfDFqoIukJHdbEp1mR3yO/aoyxguFYX95ZDW6C+My036nJddLq/Q86vC
            pXscX1CXf/5FnvNvl8t/rpHz67Rt8fzSuhzqaCW01aW3emNrPePmSKXDpXdr47bizl3WdNy6R5cM
            qbq2uxQ4XBbjXo9bl356XXYFcOkiWSoamXpmTlxmJSEN36xDbavLe/cfEB5ylw/ptc1Hsq1z/zIg
            S0cVqHpyrgenlrp8/CTYMdursrVrX12M2mw93m6XT3euMghu5Jo7vvdIlUzmoM0uL0/jcstxg9x3
            yKR7jOwrT212VIWWurw4jcv1ndyxXRsW0wCX8wMu58csLmNdLpY/M7gMJvagk2s02yXTV4rLiC4A
            Wu6S+IPLXbrsGKnlflKMmtAJz8VlOsksNVoa4fLKNC6v8rbWJT0shUa4ZFu9k7jO2xKBYbqG1BkZ
            2bqGJWvo5aZRkl1VO0ummXImcj/Msn9IrYbs/nXIBrFbvQlip+MJvSa2ggtcJs+duBTJGr65Zyra
            LtE7rJl1SXM/XC7tHXrGZb2yQabavyQuIyVlQz+/SNYoPu2yZsalZeB06ZMaKrjrlg2yS5ehSTPQ
            b6BI1rBJcJHO7VAGuqKZcSlyP/SbTWr01H/F6q82G+SZ2Qo+8dztUtRwudT9lu2+ZLIGHzvIVrvf
            pc2IKZb7kXMZWmHyb1eWDfLiXyvuv/9dLmUN7pK+iXw3jSdr8G/p4hMQCSQ69mgzSw6X5A6+3BWt
            KhtkmZp76XIpa7hd0m8Q2RGlZ78GeVzVRJfqULrML7Sq3xV9RR95y+VS1nC5ZPOShFyCQd8ceV7u
            k/lYl1mUCZfsDlFNXMoMl2lyYPIT9GKXNlKXSnBZj2yQ8lzmx9JQy5zSpeMdX6S49IrmJXEape3s
            L8tyGRVNmNM2U4zjvntOxMfxenwpLsulTNYwJ2HShlztd8e7DEyedo/WCFmNbqtdymQNPYSrzbkg
            4OuevEuR+6Gm7K/HrXvq5vINd/l21y5FsgY5G3hsNV3kkk0C9Lg1dj1etctX9FePZo/vVmjByvtJ
            88tClyJZI6InTEVngkvzanOXzn2ial1+oKaSFJePZD/z2kdXjR26FMkacvtSnYuQov2lyP3Qu5lj
            9y8rdfnokxW1nf6Cz1+WFV8+u2v8AJr5jf3Z2lelbvPbbmvMn2a6rCdwOT/gcn7A5fyASwAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJrHd3cjl6JaBiJMAAAAJXRFWHRkYXRlOmNy
            ZWF0ZQAyMDIwLTA0LTEwVDIzOjM0OjQ3KzAwOjAw7xL+PwAAACV0RVh0ZGF0ZTptb2RpZnkAMjAy
            MC0wNC0xMFQyMzozNDo0NyswMDowMJ5PRoMAAAAASUVORK5CYII="
          /></svg
      ></span>
    </p>
    <p class="c3 c4"><span class="c7"></span></p>
    <p class="c3"><span class="c0">Certificate of Authenticity</span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c2"><span class="c0"></span></p>
    <p class="c6">
      <span class="c1"
        >Open Prescription certifies the authenticity of the prescription number
        #{{ prescriptionId }}, whose information and details follow below:</span
      >
    </p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c6"><span class="c5">Doctor information:</span></p>
    <p class="c6">
      <span class="c1">Name: {{ doctorName }}</span>
    </p>
    <p class="c6">
      <span class="c1">Identification number: {{ doctorDocumentId }}</span>
    </p>
    <p class="c6">
      <span class="c1">Email: {{ doctorEmail }}</span>
    </p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c6"><span class="c5">Patient information:</span></p>
    <p class="c6">
      <span class="c1">Name: {{ patientName }}</span>
    </p>
    <p class="c6">
      <span class="c1">Document ID: {{ patientDocumentId }}</span>
    </p>
    <p class="c6">
      <span class="c1">Email: {{ patientEmail }}</span>
    </p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c6"><span class="c5">Prescription information:</span></p>
    <p class="c6">
      <span class="c10">Prescription </span
      ><span class="c1">Hash: {{ prescriptionHash }}</span>
    </p>
    <p class="c6">
      <span class="c1">Max number of uses: {{ maxUses }}</span>
    </p>
    <p class="c6">
      <span class="c1">Expiration date: {{ expiration }}</span>
    </p>
    <p class="c6">
      <span class="c1">Private prescription: {{ isPrivate }}</span>
    </p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c6">
      <span class="c5">The prescription was digitally signed as follows:</span>
    </p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c6">
      <span class="c1">Doctor Blockchain ID: {{ blockchainId }}</span>
    </p>
    <p class="c6">
      <span class="c1">Digital signature: {{ digitalSignature }}</span>
    </p>
    <p class="c6">
      <span class="c1">Signed message: {{ message }}</span>
    </p>
    <p class="c2"><span class="c1"></span></p>
    <p class="c6">
      <span class="c1"
        >The digital signature can be validated online
        <a href="https://originalmy.com">here</a>.</span
      >
    </p>
  </body>
</html>
