<tr>
  <td>
    {{{__ "Doctor"}}} {{ doctorName }} {{{__ "sent to your prescription."}}}
  </td>
</tr>
<tr>
  <td>
    <b>{{{__ "Attention"}}}</b>
  </td>
</tr>
<tr>
  <td>
    {{{__ "Prescription is attached in this e-mail. Download and save with you"}}}
  </td>
</tr>
<tr>
  <td>
    <b>{{{__ "And now?"}}}</b>
  </td>
</tr>
<tr>
  <td>
    {{{__ "Share the prescription with pharmacist to take your medicines"}}}
  </td>
</tr>
<tr>
  <td>
    <b>{{{__ "What I do with the certificate?"}}}</b>
  </td>
</tr>
<tr>
  <td>
    {{{__ "Save with you. It certify that is a valid prescription signed by a doctor to you"}}}
  </td>
</tr>
